streamlit==1.40.0
streamlit-option-menu==0.4.0
pandas==2.2.2
transformers>=4.45.1
huggingface_hub>=0.25.1
spacy==3.8.2
feedparser==6.0.11
datetime==5.5
torch==2.5.1
requests==2.32.3
scipy==1.14.1
nltk==3.9.1
streamlit_lottie==0.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
