streamlit
streamlit-option-menu
pandas
transformers
spacy==3.5.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
Pillow
numpy
scipy
nltk
requests
streamlit-lottie
feedparser
thinc==8.1.10
Cython
setuptools
wheel
